<!DOCTYPE html>
<html>
  <head>
    <title><%= @service.name %></title>
    <link rel="stylesheet" type="text/css" href="<%= fonts_path %>">
    <link rel="stylesheet" type="text/css" href="<%= css_path %>">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
  </head>

  <body id="api-reference" class="has-version-check" data-language="curl">
    <%= render_haml "shared/header" %>
    <%= render_haml "shared/background" %>
    <%= render_haml "shared/sidebar" %>

    <div id="content">
      <% endpoints.each do |endpoints_array| %>
        <% endpoints_array.each do |endpoint| %>
          <%= render_haml "shared/endpoint", { endpoint: endpoint } %>
        <% end %>
      <% end %>
    </div>

    <script src="http://stripe.com/assets/jquery-47d53801b9f61ca8a21dcc2571aeb3ec.js"></script>
    <script src="http://stripe.com/assets/jquery.cookie-d7482a1bbfda18d981eda4398666acdd.js"></script>
    <script src="http://stripe.com/assets/waypoints.min-2ac93b3c59b0bbb08d88afdcb18761b9.js"></script>
    <script src="http://stripe.com/assets/prism-0ed7661384b8f160ff618da3b2ef896f.js"></script>
    <script src="http://stripe.com/assets/shared-3abadcaa3af6e785a085062e45894014.js"></script>
    <script src="http://stripe.com/assets/api-4cad5fc36ed91ec8b62c10efcb1d99fb.js"></script>'
  </body>
</html>
